<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnableLog" value="true" />
    <add key="LogFolder" value="C:\Logs\" />
    <add key="LogFilePrefix" value="PatternTest" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>