<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnableLog" value="true" />
    <add key="LogFolder" value="c:\logs\" />
    <add key="LogFilePrefix" value="InterfacevsAbstractClass" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>